.menu-icon {
    position: fixed; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
    padding: 12px;
}

.sidenav__header {
    display: flex;
    flex-flow: row;
    height: 50px;
    padding: 0.5em 1em;
    position: absolute;
    top: 1px;
    left: 5px;
    z-index: 5;
    background-color: var(--background-color);
}

.sidenav__header a,
.sidenav__header button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.sidenav__header-menu-icon {
}

.sidenav__header-logo,
.sidenav__header-logo * {
    max-height: calc(50px - 1em);
    max-width:  calc(50px - 1em);
    padding-right: 0.3em;
}


.sidenav__header-title,
.sidenav__header-title *{
    max-height: calc(50px - 1em);
    max-width: calc(240px - 75px - 2em);
}

.sidenav__header-title {
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
}


.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: var(--background-color,#fff);
}
  
.sidenav.active {
    transform: translateX(0);
}
  
.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}
  
.sidenav__list {
    padding: 0.5rem;
    margin-top: 85px;
    list-style-type: none;
}
  
.sidenav__list-item {
    margin-bottom: 0.5rem;
    padding: 20px 20px 20px 20px;
    border-radius: var(--box-radius);
    cursor: pointer;
    overflow: hidden;
    /*color: #ddd;*/
}

.sidenav__list-item svg{
    vertical-align: middle;
    margin-right: 20px;
}
  
.sidenav__list-item:hover {
    /*background-color: rgba(162, 162, 162, 0.482);*/
    box-shadow: var(--box-shadow-hover);
}

.sidenav__list-item.active {
    background-color: var(--primary-color);
    color: var(--font-contrast-color);
    stroke: var(--font-contrast-color);
}

@media only screen and (min-width: 65.625em) {
    

    
}

@media only screen and (min-width: 46.875em) {
    .sidenav {
      position: relative;
      transform: translateX(0);
    }
  
    .sidenav__header-menu-icon{
        display: none;
    }

    .sidenav__close-icon {
      visibility: hidden;
    }

    .sidenav__header-title {
        width: auto;
    }
}